.w-3 {
  width: 1rem;
}

.w-4 {
  width: 1.5rem;
}

.w-5 {
  width: 3rem;
}

.h-3 {
  width: 1rem;
}

.h-4 {
  width: 1.5rem;
}

.h-5 {
  width: 3rem;
}

/* .text-m {
  font-size: 1rem;
  line-height: 1.5rem;
*/